body {
  font-family: 'Arial', sans-serif;
  margin: 6px;
  background-color: #fffefd;
  color: #333;
}

.table-container {
  overflow-x: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
  border-collapse: collapse;
  width: 100%;
  min-width: 1200px;
  background-color: #fffefd;
  border-radius: 8px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  min-width: 120px;
  height: 40px;
  background-clip: padding-box;
}

th {
  background-color: #4CAF50;
  color: #fffefd;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 10;
}

td:first-child, th:first-child {
  position: sticky;
  left: 0;
  background-color: #739c97;
  color: #fffefd;
  z-index: 11;
  border-right: 1px solid #ddd;
}

td {
  background-color: #fffefd;
  transition: background-color 0.3s ease;
}

td:hover:not(:first-child) {
  background-color: #f1f1f1;
}

tr {
  border-bottom: 1px solid #ddd;
}

tr:first-child > td:not(:first-child) {
  background-color: #ecaa28;
  color: #fffefd;
}

tr:last-child {
  border-bottom: none;
}

.break {
  background-color: #616161;
}
